.commentBox {
  padding: 12px 16px;
  overflow: hidden;
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
  align-items: center;
   &-inner {
     margin: 0;
     & li:first-child {
       margin: 15px 0 0;
     }
     & li {
       margin: 60px 0 0;
     }
     &List {
       @include clearfix();
       list-style: none;
       .comment-user {
         float: left;
         position: relative;
         color: #000;
         &-image {
           width: 40px;
           height: 40px;
           position: absolute;
           top: -20px;
           overflow: hidden;
           border-radius: 50%;
         }
         &-name {
           width: 600px;
           min-width: 600px;
           max-width: 100%;
           font-weight: 600;
           height: 20px;
           overflow: hidden;
           position: absolute;
           top: -20px;
           left: 55px;
           font-size: 13px;
           white-space: nowrap;
           text-overflow: ellipsis;
           color: #000;
         }
       }
       .comment-body {
         width: 600px;
         float: right;
         position: relative;
         left: 30px;
         padding: 16px;
         background-color: #eef0f4;
         border-radius: 15px;
         line-height: 15px;
         word-break: break-all;
         & a {
          color: #000;
         }
         &:after {
           content: "";
           display: inline-block;
           position: absolute;
           top: 3px; 
           left: -19px;
           border: 8px solid transparent;
           border-right: 18px solid #edf1ee;
           -webkit-transform: rotate(35deg);
           transform: rotate(35deg);
         }
         .comment-icons {
           @include clearfix();
           margin: 8px 0 0;
           &-left {
             display: block;
             color: #aaa;
             float: left;
             & i  {
               vertical-align: middle;
             }
             & span {
               vertical-align: middle;
             }
           }
           &-right {
             float: right;
             .comment-delete {
               margin: 0 0 0 8px;
               & i {
                 color: #aaa;
                 vertical-align: middle;
                 text-decoration: none;
               }
             }
           }
         }
       }
     }
   }
 }

 .buttonBox{
  text-align: center;
  padding: 24px;
  margin: 10px 0;
  background-color: #fff;
  .textarea{
    padding: 10px;
    width: 100%;
    min-height: 104px;
  }

  .text{
    text-align: left;
    padding: 8px;
    margin: 10px 0 30px;
    font-size: 14px;
    background-color: #f8f8f8;
  }

  .commentBtn{
    font-size: 17px;
    border: solid 1px #efefef;
    background: $base_bgc;
    color: $base_color;
    width: 60%;
    line-height: 48px;
    border-radius: 100px;
    align-items: center;
  }
}
