.main__contents {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
  top: 77px;
  z-index: 1;
  background-color: #fafafa;
}
.main__container {
  background-color: #fafafa;
  height: 100%;
  padding: 30px 20px 0;
  margin: 0 auto 30px;
  width: calc(100% - 40px);
  max-width: 935px;
  box-sizing: content-box;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 15px;
}

.card {
  width: 293px;
  height: 293px;
  margin-right: 28px;
  position: relative;
  // @include hover_black;
  &__image {
    width: 293px;
    height: 293px;
  }
  p {
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 5px;
  }
  span {
    color: rgba(255, 255, 255, 0.927);
    position: absolute;
    bottom: 0;
    left: 10px;
  }
}


